.header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    flex-direction: column;
    color: rgb(255, 255, 0);
    span:first-child{
        font-size: 3rem;
        animation: animateHeading 1s linear;
        letter-spacing: 5px;
        @media screen and (width <= 550px){
            font-size: 2rem;
        }
        @media screen and (width <= 350px){
            font-size: 1.6rem;
        }
    }
    span:last-child{
        animation: animateDesc 1s linear;
        letter-spacing: 2px;
        @media screen and (width <= 550px){
            font-size: 1.2rem;
        }
    }
}


@keyframes animateHeading {
    0%{
        transform: translateX(-50rem);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animateDesc {
    0%{
        transform: translateX(50rem);
        opacity: 0.5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}